body {
  background-image: url("../images/purple-bkg.jpg");
  background-size: cover;
  min-width: 350px;
  color: black;
  margin-bottom: 20px;
}

.score-display {
  height: 70px;
}

.instructions {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.instruction-box {
  background-color: rgba(167, 36, 255, 0.87);
}

.game-display {
  background-color: rgba(128, 18, 201, 0.808);
}

.game-data {
  background-color: rgba(78, 194, 55, 0.664);
}


#num-jewels {
  /* width: 70px; */
  font-size: 24px;
  font-weight: bold;
}

#title-img {
  width: 100%;
}


#jewel-box {
  display: flex;
  flex-wrap: wrap;
}
  
.gem-img {
  width:  150px;
  height: 150px;
  margin: auto;
}


/*
  These rules take effect on phones (xs screens)
*/

@media screen and (max-width: 768px) {

  .instructions {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }

  .instruction-box {
    padding: 8px !important;
  }

  .jewel-select {
    padding-top: 0px !important;
  }

  #num-jewels {
    width: 25% !important;
  }

  .game-data-text {
    font-size: 1.5em !important;
    padding-bottom: 5px !important;
  }

  .gem-img {
    width:  75px;
    height: 75px;
    margin: auto;
  }

  .image-container{
    margin-left: 50px;
    margin-bottom: 20px;
  }
}

